
<div>
    <h1>Learderboard</h1>
    <p>Vos informations</p>
</div>
<div>
  <ul>
  <% @users.each do |user| %>
    <li><%= user.username %></li>
    <li><%= user.email %></li>
    <li><%= user.birth_date %></li>
    <li><%= user.presentation %></li>
    <li><%= user.address %></li>
  <% end %>
</ul>
</div>


