<div class="profile-card">
  
  <h2 class="text-center"><%= current_user.username %>  </h2>
  <p>
    <%= current_user.presentation %>
  </p>
  <div class="notification-actions d-flex justify-content-end align-items-end">  
    <%= link_to edit_user_registration_path, class:"text-decoration-none" do %>
      <p>Edit  <span class= "fas fa-pencil-alt"></span></p>
    <% end %>
  </div>
</div>

<div class="profile-card">
  <h3 class="text-center">Dares in progress</h3>
  <ul>
    <% @dares_in_progress.each do |dare| %>
      <li><%= link_to dare.challenge.name, challenge_dare_path(dare.challenge, dare) %></li>
    <% end %>
  </ul>
</div>

<div class="profile-card">
  <h3 class="text-center">Dares complete</h3>
   <ul>
    <% @dares_complete.each do |dare| %>
      <li><%= link_to dare.challenge.name, challenge_dare_path(dare.challenge, dare) %></li>
    <% end %>
  </ul>
</div>

<div class="profile-card">
  <h3 class="text-center">My Journey</h3>
  <% @journeys.last(5).each do |journey| %>
    <%= link_to challenge_dare_journey_path(journey.dare.challenge, journey.dare, journey) do %>
      <div class="blog-journey">
        <h4><%= journey.title %></h4>
        <%= journey.dare.challenge.name %>
      </div>
    <% end %>
  <% end %>
  <div class="btn-box">
    <%= link_to "More", my_journeys_path, class: "btn-blue" %>
  </div>
</div>
