<p class="m-3 text-justify">Aujourd'hui, nous te proposons trois choix. Je te rappel qu'il ests important
d'en réaliser 2 à 3 par semaines pour réaliser tes objectifs.</p>
<p class="text-center">On est avec toi</p>
<% count=-1 %>
<% @challenge_sample.each do |challenge| %>
  <%= link_to challenge_path(challenge) do %>
    <div id="card-container">
      <div class="product-details">
        <div class="w-100"><h2><%= challenge.name.capitalize %>.</h2></div>
        Diff :  <span class="hint-star star">
        <% challenge.difficulty.times do %>
          <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
        </span>
        <p class="information">"<%= challenge.content.truncate(80)... %>."</p>
      </div>
      <div class="product-image">
        <%= image_tag "friends2.jpg", alt: "challenge friends"%>
      <div class="info">
        <h3>Details</h3>
        <ul>
          <li>Times : <%= @nb_challenge[count += 1] %></li>
          <li><strong>Xp : <%= challenge.xp %></strong></li>
          <li><strong>Difficulty : <%= challenge.difficulty %></strong></li>
        </ul>
      </div>
      </div>
    </div>
  <% end %>
  <br />
<% end %>
