<div class="">

  <h1 class="text-center m-3">Bienvenue <%= current_user.username %></h1>
  <h2 class="text-center bg-primary text-white my-3 py-2">Que veux tu faire aujourd'hui?</h2>

  <%= link_to challenges_path(category: :solo) do %>
  <div id="card-container">
    <div class="product-details">
      <h1>Défi solo</h1>
      <p class="information">"Choisi un des trois défis proposé et lance toi en <strong>solitaire</strong>."</p>
    </div>
    <div class="product-image">
      <%= image_tag "solo.jpg", alt: "challenge solo"%>
    <div class="info">
      <h3>Details</h3>
      <ul>
        <li><strong>First step !! </strong></li>
      </ul>
    </div>
    </div>
  </div>
  <% end %>
  <br />
  <%= link_to challenges_path(category: :friend) do %>
  <div id="card-container">
    <div class="product-details">
      <h1>Défi amis</h1>
      <p class="information">"Optimises tes relations avec tes <strong>proches</strong>."</p>
    </div>
    <div class="product-image">
      <%= image_tag "friends2.jpg", alt: "challenge friends"%>
    <div class="info">
      <h3>Details</h3>
      <ul>
        <li><strong>Go social !! </strong></li>
      </ul>
    </div>
    </div>
  </div>
  <% end %>
  <br />
  <%= link_to challenges_path(category: :grouped) do %>
  <div id="card-container">
    <div class="product-details">
      <h1>Défi groupé</h1>
      <p class="information">"Choisi un des trois défis proposé et lance toi en <strong>groupe</strong>."</p>
    </div>
    <div class="product-image">

      <%= image_tag "group2.jpg", alt: "challenge friends"%>    <div class="info">
      <h3>Details</h3>
      <ul>
        <li><strong>Last step !!</strong></li>
      </ul>
    </div>
    </div>
  </div>
  <% end %>

</div>
