<h1>Congrats <%= @dare.user.username %></h1>
<% if @dare.validated? %>
  <p>You succed this challenge, good job!</p>
<% elsif @dare.failed? %>
  <p>You didn't made it? Not a big deal, you'll succed next time!</p>
<% end %>

<p>Write your feelings about this challenge, you can share it with other users if you wish to.</p>

<%= simple_form_for [@challenge, @dare, @journey] do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :challenge_rating, collection: 0..5 %>
  <%= f.input :public %>
  <%= f.button :submit %>
<% end %>

<%= link_to challenge_dares_path, class:"text-decoration-none" do %>
  <p class= "bg-info text-black text-center">Ignore</p>
<% end %>
