<h3>Congrats <%= @dare.user.username %></h3>
<% if @dare.validated? %>
  <p>You succed this challenge, good job!</p>
<% elsif @dare.failed? %>
  <p>You didn't made it? Not a big deal, you'll succed next time!</p>
<% end %>

<p>Write your feelings about this challenge, you can share it with other users if you wish to.</p>

<%= simple_form_for [@challenge, @dare, @journey] do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :challenge_rating, collection: 0..5 %>
  <%= f.input :public %>
  <div class="btn-box">
    <%= f.button :submit, class: "btn-main" %>
  </div>
<% end %>
  <%= link_to my_dares_path(current_user), class:"text-decoration-none" do %>
  <div class="btn-box">
    <p class= "btn-blue">Ignore</p>
  </div>
<% end %>
